.content1{
  display: grid;
  widht: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  margin-right: 0.8rem;
  margin-left: 0.6rem;
}

.title{
  text-align: center;
}
.card{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top:6rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.card:hover{
  box-shadow:none;
}

.lineInput{
  display: grid;
  gap: 5px;
  margin-bottom: 10px;
}
input{
  padding: 15px;
  border: 1px solid var(--color-info-light);
  border-radius: 10px;
  outline: 0;
  background-color: var(--color-background);
  color: var(--color-dark);
}
button{
  border: 0px;
  padding: 10px;
  outline: 0;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  transition: all ease 0.3s;
  
}
.botao1{
    background: #c2c2c2;
    color:#010101;
    margin-bottom: 5px;
}
.botoes button{
    justify-content: center;
    width: 200px;
}
button:hover{
  background-color: #474a51;
}
.buttonEmp1{
  border: 0px;
  position: relative;
  left: 30vw;
  width: 200px;
  padding: 7px;
  width: 5em;
  outline: 0;
  background-color: rgb(73, 73, 73);
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
}
.buttonEmp2{
  border: 0px;
  position: relative;
  left: 30vw;
  width: 200px;
  padding: 7px;
  width: 5em;
  outline: 0;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  opacity: 85%;
  transition: all ease 0.3s;
}


.center{
  text-align: center;
}

/*=============CADASTRO CLIENTE ===============*/
.form{
  display: flex;
  flex-direction: column;
  gap:16px;
  margin-top: 32px;
}