.navbar{
    width: 100%;
    background: var(--color-white);
}
.navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.navbar .navbar-container .search-bar{
    background: var(--color-light);
    padding: 0.5rem 1rem;
    width:15vw;
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-info-dark);
    position: relative;
    left: 25vw;

}
.navbar .search-bar input[type="search"] {
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;

}
.navbar .search-bar input[type="search"]::placeholder{
    color: var(--color-info-dark);
}
.navbar .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
.navbar .profile-area .theme-btn {
    display: flex;
    background: var(--color-light);
    widht: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}
.navbar .profile-area .theme-btn .dlMode-icons{
    widht: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
.navbar .profile-area .theme-btn .active {
    background: var(--color-dark);
    border-radius: var(--border-radius-1);
    color: var(--color-white);
}
.navbar .profile-area .profile {
    display: flex;
    gap: 1rem;
    align-items: center;

}
.navbar .profile-area .profile .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}