/* ----------- ROOT VARIABLE -----------*/
:root {
  --color-primary: #FF1919;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  background-color: --color-background;
  font-family: 'Nunito Sans', sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
  display: block;
}

.nav {
  background: var(--color-white);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  transition: all 300ms ease;
}
.nav .nav_logo{
  margin-left: 1rem;
  display: flex;

  
}

.nav .nav_actions{
  display: flex;
  justify-content: space-around;
  width: 12rem;
  margin-right: 1.5rem;
}
.nav_actions_icons{
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e1e9fc;
}
.nav_actions_icons:hover{
  color: #FF1919;
}
.side-menu{
  position: fixed;
  background: var(--color-white);
  width: 250px;
  height: 100vh;
  box-sizing: border-box;
  padding:  0;
  transition: width .2s ease-in;
  overflow-y: scroll;
  top: 60px;

}

.side-menu.inactive{
  width: 80px;
}

.nav .toggle-menu-btn{
  font-size: 1.8rem;
  color: var(--color-primary);
  display: flex;
  margin-left: 1.5rem;
  height: 60px;
  align-items: center;
  
}

.nav .toggle-menu-btn:hover{
  color: var(--color-info-dark);
}

.side-menu .top-section{
  position: relative;
  display: flex;
    align-items: center;
    padding: 1rem;
    height: 50px;
    text-decoration:none;
    font-size: 30px;
    
    color: var(--color-primary);
    cursor: pointer;
    text-decoration:none;
}
.side-menu .top-section:hover{
  border-left: 2px solid #FF1919;
}

.side-menu .top-section .avatar{
  overflow: hidden;
  display: inline-block;
}
.side-menu .top-section .avatar .user-img{
  width: 40px;
  height: 40px;
  max-width: 100%;
  max-height: 100%;

}
.side-menu .top-section .avatar span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: 500;
}
.side-menu.inactive .top-section .avatar span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .menu-item{
  color: var(--color-info-dark);
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  height: 3.7rem;
  transition: all 300ms ease;
  align-items: center;
}

.side-menu .main-menu .menu-item.active{
  background: var(--color-light);
  color: var(--color-primary);
  border-left: 6px solid var(--color-primary);
}
.side-menu .main-menu .menu-item.active .menu-icon{
  margin-left: 0.9rem;
}

.side-menu .main-menu .menu-item:hover .menu-icon{
  margin-left: calc(1.8rem - 3px);
}

.side-menu .main-menu{
  height: 80%;
  overflow-y: scroll;
}
/* not required any more */
.side-menu.inactive .main-menu{

}

.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  font-size: 18px;
  margin-left: 1.1rem;
  transition: all 300ms ease;
}

.side-menu .main-menu .menu-item span{
  margin-left: 0.8rem;
  transition: all 300ms ease;
}

.side-menu.inactive .main-menu .menu-item span, .side-menu.inactive .main-menu .sub-menu span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu{
  color: var(--color-info-dark);
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  height: 3.7rem;
  transition: all 0.5s;
  align-items: center;
  background: #f2f2f2;
}

.side-menu .main-menu .sub-menu.active{
  background: var(--color-light);
  color: var(--color-primary);
  border-left: 6px solid var(--color-primary);

}
.side-menu .main-menu .sub-menu:hover .menu-icon{
  margin-left: calc(1.8rem - 3px);
}

.side-menu .main-menu .sub-menu span{
  margin-left: 0.8rem;
}


.side-menu .main-menu .sub-menu .menu-icon{
  margin-left: 1.8rem;
}
.side-menu.inactive .main-menu .sub-menu .menu-icon{
  margin-left: 1.5rem;
}
.divider {
  height: 1px;
  border-top: solid 1px var(--color-light);
}
.container{
  margin-left: 250px;
  transition: margin-left .2s ease-in;
  box-sizing: border-box;
}

.container.inactive{
  margin-left: 80px;
}