/* ----------- ROOT VARIABLE -----------*/
:root {
  --color-primary: #FF1919;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
/* ======== DARK THEME ======== */
.dark-theme{
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}


*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  font-size: 14px;
}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
  font-family: 'Nunito Sans', sans-serif;
  user-select: none;
  overflow-x: hidden;
  font-size: 0.88rem;
  color: var(--color-dark);
}

a{
  color: var(--color-dark);
}
img{
  display: block;
  width: 100%;
}
h1 {
  font-size: 1.8rem;
  color: var(--color-dark);
}
h2{
  font-size: 1.4rem;
  color: var(--color-dark);
}
h3{
  font-size: 1.2rem;
  color: var(--color-dark);
}
h4{
  font-size: 1rem;
  color: var(--color-dark);
}
p{
  color: var(--color-dark-variant);
}
b{
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.warning {
  color: var(--color-warning);
}
.success {
  color: var(--color-success);
}

.profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}



/* width */
::-webkit-scrollbar {
  width: 3px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
  display: block;
}


/* ============ TOP ========= */


.top {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 0.5rem;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  z-index:2;
  background: var(--color-white);
  border-radius:
  var(--card-border-radius);
}
.top .toggle-menu-btn{
  font-size: 1.8rem;
  display:flex;
  margin-left: 0.2rem;
  
}
 .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 3.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.theme-toggler .dlMode-icons {
  font-size: 1.5rem;
 
  align-items: center;
  justify-content: center;
}
.theme-toggler .dlMode-icons.active{
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}
.top .profile{
  display: flex;
  gap: 2rem;
 align-items: center;
 
}


.side-menu{
  position: fixed;
  background: var(--color-white);
  width: 250px;
  height: 100vh;
  box-sizing: border-box;
  padding:  0;
  transition: width .2s ease-in;
  overflow-y: scroll;
  top:0;
}

.side-menu.inactive{
  width: 80px;
}

.side-menu .top-section{
  height: 4.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-info-light);
  gap: 1rem;
  justify-content: center;
}
.side-menu .top-section .toggle-menu-btn{
  display:none;
}

.side-menu .main-menu .menu-item{
  color: var(--color-info-dark);
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  height: 3.7rem;
  transition: all 300ms ease;
  align-items: center;
}

.side-menu .main-menu .menu-item.active{
  background: var(--color-light);
  color: var(--color-primary);
  border-left: 6px solid var(--color-primary);
}
.side-menu .main-menu .menu-item.active .menu-icon{
  margin-left: 0.9rem;
}

.side-menu .main-menu .menu-item:hover .menu-icon{
  margin-left: calc(1.8rem - 3px);
}

.side-menu .main-menu{
  height: 80%;
  overflow-y: scroll;
}
/* not required any more */
.side-menu.inactive .main-menu{

}

.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  font-size: 18px;
  margin-left: 1.1rem;
  transition: all 300ms ease;
}

.side-menu .main-menu .menu-item span{
  margin-left: 0.8rem;
  transition: all 300ms ease;
}

.side-menu.inactive .main-menu .menu-item span, .side-menu.inactive .main-menu .sub-menu span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu{
  color: var(--color-info-dark);
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  height: 3.7rem;
  transition: all 0.5s;
  align-items: center;
}

.side-menu .main-menu .sub-menu.active{
  background: var(--color-light);
  color: var(--color-primary);
  border-left: 6px solid var(--color-primary);

}
.side-menu .main-menu .sub-menu:hover .menu-icon{
  margin-left: calc(1.8rem - 3px);
}

.side-menu .main-menu .sub-menu span{
  margin-left: 0.8rem;
}
.side-menu .main-menu .sub-menu .menu-icon{
  margin-left: 1.8rem;
}
.side-menu.inactive .main-menu .sub-menu .menu-icon{
  margin-left: 1.5rem;
}
.divider {
  height: 1px;
  border-top: solid 1px var(--color-light);
}
.container{
  margin-left: 250px;
  transition: margin-left .2s ease-in;
  box-sizing: border-box;
}

.container.inactive{
  margin-left: 80px;
}
/*================ MEDIA QUERIES ==========*/
@media screen and (max-width:768px) {

.right{
  widht: 100%;
  margin: 0 1rem 0 2rem;
}
.top{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  padding: 0 0.8rem;
  height: 4.6rem;
  background: var(--color-white);
  box-shadow: 0 1rem 1rem var(--color-light);
  margin: 0;
  z-index: 1;
  justify-content: space-between;

}

.top .theme-toggle{
  width: 4.4rem;
  position: absolute;
  left: 66%;
}
.profile .info{
  display: none;
}
.top .menu-btn{
  display: inline-block;
  background: transparent;
  cursor: pointer;
  color: var(--color-dark);
  position: absolute;
  left: 1rem;
}
.side-menu{
  background: var(--color-white);
  z-index: 2;
  widht: 18rem;
  box-shadow: 1rem 3rem 4rem var(--color-light);
  transition: 400ms ease forwards;
}
.side-menu.inactive{
  display: none;
}
.side-menu .top-section .toggle-menu-btn{
  font-size: 1.8rem;
  display:flex;
 
}
.container.inactive{
  margin-left: 0px;
}


.container{
  margin-left: 0px;
  transition: margin-left .2s ease-in;
  box-sizing: border-box;
}

/* ========== CADASTRO CLIENTE ===========*/


